.iconSection {
  transition: background 1.5s;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px;
  border-radius: 100%;
  background-color: var(--bg-color);
  z-index: 1;
}

.iconSection:hover {
  background-color: var(--secondary-color);
}

.fa-moon {
  color: var(--secondary-color);
}

.fa-sun {
  color: var(--secondary-color);
}

.fa-moon:hover {
  color: var(--primary-color);
}

.fa-sun:hover {
  color: var(--primary-color);
}
