#About {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto;
  width: 70%;
  height: 80vh;
  max-height: 100vh;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.imgLogo2 {
  justify-content: center;
  display: flex;
  align-self: center;
}

.aboutMe {
  font-size: 1.2rem;
  color: white;
  margin: 30px 0px;
}

.skillSection {
  margin-top: 20px;
}

.skillImg {
  height: 60px;
  margin: 0px 10px;
}

.skillTitle {
  color: white;
}

@media (max-width: 1305px) {
  .aboutSection {
    display: flex;
    width: 100%;
  }
  .about {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    width: 90%;
    height: 100vh;
  }
  .skillSection {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .aboutTitle {
    color: var(--primary-color);
    font-size: 2.5rem;
    text-align: center;
  }
  .skillTitle {
    text-align: center;
  }

  .imgLogo2 {
    padding-top: 30px 0px;
    justify-self: center;
  }
  @media (max-height: 800px) {
    #About {
      height: auto;
    }
  }
}

@media (max-width: 1100px) {
  .aboutMe {
    margin: 15px 0px;
  }
  .aboutTitle {
    padding-top: 20px;
    font-size: 2.1rem;
  }
}

@media (max-width: 685px) {
  .skillImg {
    height: 50px;
  }

  .imgLogo2 {
    justify-self: center;
    width: 80vw;
  }
}
